.search_results_modal_container {
    position: absolute;
    will-change: transform;
    transform: translate3d(4px, 34px, 0px);
    width: 100%;
    border: 10px solid rgb(204, 215, 225);
    padding: 10px;
    max-width: 550px;
    height: 300px;
    border-radius: 20px;
    background-color: #ffff;
    z-index: 10;
    overflow: auto;
}
.header_container {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.275);
    height: 85vh;
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    border-radius: 25px;
    margin-bottom: 40px;
    padding-left: 7vw;
    background-image: url("../../../../public/assets/bg-banner.webp");
    background-position: center;
    background-size: cover;
    z-index: 50;
}


.header_info {
    height: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    flex-direction: column;
    --left-offset: 140px;
}

.header_info h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 65px;
    text-transform: capitalize;
    color: #FFFFFF;
    width: 100%;
}

.header_info p {
    margin: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 43px;
    text-transform: capitalize;
    color: #FFFFFF;
    width: 100%;
}

.header_info p {
    font-size: 18px;
}

.serach_btn_cont {
    margin: 15px 0px;
    max-width: 550px;
    position: relative;
}


@media screen and (max-width: 1300px) {
    .header_container {
        height: 600px;
        padding-left: 5vh;
    }
    .header_info {
        --left-offset: 70px;
    }
    .header_info h2 {
        font-size: 50px;
        line-height: 49px;
    }
    .header_info p {
        font-size: 17px;
    }
}

@media screen and (max-width: 768px) {
    .header_container {
        height: 300px;
        background-image: none;
        background-color: #2C82C4;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
    }
    .search_results_modal_container{
        height: 400px;
    }
    .header_info {
        --left-offset: 70px;
    }
    .header_info h2 {
        font-size: 34px;
        line-height: 41px;
    }
    .header_info p {
        font-size: 15px;
        line-height: 18px;
    }
}

@media screen and (max-width: 400px) {
    .header_container {
        height: 275px;
    }
    .header_info {
        --left-offset: 0px;
        /* padding: 0px 28px; */
    }
    .header_info h2 {
        font-size: 29px;
        line-height: 35px
    }
    .header_info p {
        font-size: 15px;
        line-height: 18px;
        text-align: center;
    }
}