.main_cont {
    background-color: #136CA5;
    padding: 100px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
}

.item {
    flex: 1 0 32%;
}

.heading {
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.star_icon_cont {
    width: 100%;
    margin: 10px 0px;
}

.sub_text {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 30px;
    color: #FFFFFF;
}

@media screen and (max-width: 1200px) {
    .main_cont{
        padding: 20px;
    }
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 30px;
    }

    .item {
        text-align: center;
    }

    .heading {
        font-size: 28px;
        line-height: 33px;
    }

    .sub_text {
        font-size: 18px;
        line-height: 21px;
    }
}

@media screen and (max-width: 768px) {
    .main_cont {
        gap: 30px;
        padding: 55px 10%;
    }
}


@media screen and (max-width: 400px) {}