.main_cont {
    width: 100%;
    height: 65vh;
    padding: 10px 25px;
    border-radius: 31px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-size: cover;
    background-position: center;
    transform: scaleX(-1);
}

.heading {
    text-align: center;
    width: 50%;
    margin-right: auto;
    transform: scaleX(-1);
}