.container{
    position: absolute;
    width: 100%;
    margin-top:5px;
}
.resultBox{
    box-shadow:0px 10px 50px rgba(0, 0, 0, 0.304);
    background-color: #fff;
    overflow-y: scroll;
    height: 400px;
    z-index: 99 !important;
    position: relative;
}
.blur{
    height: 10px;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.404), white);
    position:sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 10;
}
.blurBottom{
    height: 20px;
    width: 100%;
    background-image: linear-gradient(white, rgba(255, 255, 255, 0.797));
    position:sticky;
    position: -webkit-sticky;
    bottom: 0;
    z-index: 10;
}
.searchResult{
    padding: 10px 20px;
    background-color: #ffff;
    border-bottom: 1px solid rgb(214, 214, 214);
}
.searchResultTop, .searchResultBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.15s;
    margin-top: 5px;
}
.searchResultTop > button{
    background-color: #136CA5;
    color: #fff;
    padding: 15px 25px;
    border: none;
    outline: none;
    border-radius: 10px;
    transition: 0.15s;
    cursor: pointer;
}
.searchResultTop > button:hover{
    background-color: #156393;
    box-shadow: 0px 5px 20px rgb(172, 172, 172);
}
.searchResult:hover{
    background-color: #f3f3f3;
}
.texts{
    color: #000 !important;
    font-size: 14px !important;
}
.texts > div{
    margin-top:-25px !important;
}
.title{
    color: #136CA5;
    margin-top: 5px;
}

@media screen and (max-width: 768px) {
    .title{
        text-align: left;
    }
    .texts > div{
        text-align: left;
        margin-top:0 !important;
    }
}